{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <main class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Exercice technique de Thibault Mora-Bire pour Artmajeur</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary" href="{{ path('app_contact') }}">Formulaire de contact</a>
            </div>
        </div>
    </main>
{% endblock %}
